@font-face {
    font-family: 'MaterialIcons';
    src: url('./assets/MaterialIcons-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
  }

  .blockly-category-icon {
    font-family: 'MaterialIcons';
    font-size: 24px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

.blocklyTreeLabel {
    font-size: 12px;
    display: flex;
    flex-direction: column;
  }

  .blocklyToolboxContents {
    padding: 0.5em;
  }

  .blocklyTreeRow {
    padding: 3px;
    margin-bottom: 0.5em;
    border-radius: 4px;
    vertical-align: middle;
    cursor: pointer;
    height: auto;
  }
